{
  "sourceMaps": "both",
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12"
        }
      }
    ],
    [
      "@babel/preset-typescript",
      { "onlyRemoveTypeImports": true, "loose": true }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "babel-plugin-module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./"],
        "alias": {
          "@": "./src"
        }
      }
    ],
    "babel-plugin-transform-typescript-metadata",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "babel-plugin-parameter-decorator"
  ]
}
